.main-img {
  background-image: url("img/hero.jpg");
  height: 80%;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-img .main-title-container {
  background-color: rgba(0, 0, 0, 0.7);
  width: 30%;
  height: 40%;
}

.main-img .main-title-container .main-title {
  vertical-align: middle;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #FFFFFF;
  font-size: 4em;
}

.check-out {
  margin-top: 5%;
  width: 80%;
}
