.dark-bg { background-color: #384259 !important; }
.accent-bg { background-color: #f73859 !important; }
.primary-bg { background-color: #7ac7c4 !important; }
.secondary-bg { background-color: #c4edde !important; }
.dark-text { color: #384259 !important; }
.accent-text { color: #f73859 !important; }
.primary-text { color: #7ac7c4 !important; }
.secondary-text { color: #c4edde !important; }
