body {
  font-family: Dosis;
  font-weight: 300;
}
.font-weight-light {
  font-weight: 300;
}
.font-weight-medium {
  font-weight: 500;
}
.font-weight-semi-bold {
  font-weight: 600;
}
.hero-img {
  background-image: url("/img/hero1.jpg");
  background-size: 100% auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.contact-img {
  background-image: url("/img/home_hero2.jpg");
  background-size: 100% auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position-y: 100%;
}
.webResources-img {
  background-image: url("./res/webDesign_hero1.png");
  background-size: 100% auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position-y: 100%;
}
.graphicResources-img {
  background-image: url("./res/graphicDesign_hero1.jpg");
  background-size: 100% auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position-y: 100%;
}
.main-title {
  color: #00BCD4;
  font-size: 6rem;
}
.con {
  width: 90%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.round-image {
  border-radius: 50%;
  border: 0;
}
.hover-lightgray:hover {
  color: gray !important;
}
@media(max-width:768px) {
  .main-title {
    font-size: 3rem;
  }
  .check-out {
    font-size: 1rem;
  }
}
