body {
  font-family: Dosis;
  font-weight: 300;
}
.bg-transparent {
  background-color: rgba(0, 0, 0, 0);
}
.text-light-transparent {
  color: rgba(255, 255, 255, 0.3) !important;
}
.font-weight-light {
  font-weight: 300;
}
.font-weight-medium {
  font-weight: 500;
}
.font-weight-semi-bold {
  font-weight: 600;
}
.hero-img {
  background-image: linear-gradient(
      to bottom,
      rgba(38, 50, 56, 0.75) 0%,
      rgba(255, 82, 82, 0.75) 50%,
      rgba(255, 82, 82, 0.75) 100%
    ),
    url("/img/hero1.jpg");
  background-image: linear-gradient(
      to bottom,
      rgba(38, 50, 56, 0.75) 0%,
      rgba(255, 82, 82, 0.75) 50%,
      rgba(255, 82, 82, 0.75) 100%
    ),
    url("/img/hero1.webp");
  background-size: 100% auto;
  background-attachment: fixed;
  background-repeat: repeat-y;
}
.accent-red {
  color: rgb(255, 82, 82) !important;
}
.accent-yellow {
  color: rgb(255, 235, 59) !important;
}
.accent-green {
  color: rgb(76, 175, 80) !important;
}
.accent-cyan {
  color: rgb(0, 188, 212) !important;
}
.accent-purple {
  color: rgb(224, 64, 251) !important;
}
.accent-amber {
  color: rgb(255, 193, 7) !important;
}
.hero-accent-red {
  background-image: linear-gradient(
      to bottom,
      rgba(38, 50, 56, 0.75) 0%,
      rgba(255, 82, 82, 0.75) 50%
    ),
    url("/img/hero1.jpg");
  background-image: linear-gradient(
      to bottom,
      rgba(38, 50, 56, 0.75) 0%,
      rgba(255, 82, 82, 0.75) 50%
    ),
    url("/img/hero1.webp");
}
.hero-accent-yellow {
  background-image: linear-gradient(
      to bottom,
      rgba(38, 50, 56, 0.75) 0%,
      rgba(255, 235, 59, 0.75) 50%
    ),
    url("/img/hero1.jpg");
  background-image: linear-gradient(
      to bottom,
      rgba(38, 50, 56, 0.75) 0%,
      rgba(255, 235, 59, 0.75) 50%
    ),
    url("/img/hero1.webp");
}
.hero-accent-green {
  background-image: linear-gradient(
      to bottom,
      rgba(38, 50, 56, 0.75) 0%,
      rgba(76, 175, 80, 0.75) 50%
    ),
    url("/img/hero1.jpg");
  background-image: linear-gradient(
      to bottom,
      rgba(38, 50, 56, 0.75) 0%,
      rgba(76, 175, 80, 0.75) 50%
    ),
    url("/img/hero1.webp");
}
.hero-accent-cyan {
  background-image: linear-gradient(
      to bottom,
      rgba(38, 50, 56, 0.75) 0%,
      rgba(0, 188, 212, 0.75) 50%
    ),
    url("/img/hero1.jpg");
  background-image: linear-gradient(
      to bottom,
      rgba(38, 50, 56, 0.75) 0%,
      rgba(0, 188, 212, 0.75) 50%
    ),
    url("/img/hero1.webp");
}
.hero-accent-purple {
  background-image: linear-gradient(
      to bottom,
      rgba(38, 50, 56, 0.75) 0%,
      rgba(224, 64, 251, 0.75) 50%
    ),
    url("/img/hero1.jpg");
  background-image: linear-gradient(
      to bottom,
      rgba(38, 50, 56, 0.75) 0%,
      rgba(224, 64, 251, 0.75) 50%
    ),
    url("/img/hero1.webp");
}
.hero-accent-amber {
  background-image: linear-gradient(
      to bottom,
      rgba(38, 50, 56, 0.75) 0%,
      rgba(255, 193, 7, 0.75) 50%
    ),
    url("/img/hero1.jpg");
  background-image: linear-gradient(
      to bottom,
      rgba(38, 50, 56, 0.75) 0%,
      rgba(255, 193, 7, 0.75) 50%
    ),
    url("/img/hero1.webp");
}
.contact-img {
  background-image: url("/img/home_hero2.jpg");
  background-size: 100% auto;
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-position-y: 100%;
}
.webResources-img {
  background-image: url("./res/webDesign_hero1.png");
  background-size: 100% auto;
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-position-y: 100%;
}
.graphicResources-img {
  background-image: url("./res/graphicDesign_hero1.jpg");
  background-size: 100% auto;
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-position-y: 100%;
}
.main-title {
  color: #00bcd4;
  font-size: 6rem;
}
.con {
  width: 90%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.round-image {
  border-radius: 50%;
  border: 0;
}
.hover-lightgray:hover {
  color: gray !important;
}
.photo {
  max-width: 90%;
  cursor: pointer;
  -webkit-box-shadow: 10px 10px 35px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 35px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 35px -11px rgba(0, 0, 0, 0.75);
}
.photo-fullsize {
  max-width: 100%;
}
.photo-container {
  text-align: center;
}
.footer-list li {
  list-style-type: none;
  padding: 10px 5px;
  border-bottom: 1px solid white;
}
.footer-list-top {
  border-top: 1px solid white;
}
.footer-list-link {
  color: lightgray !important;
  width: 100%;
  transition: all 0.3s;
}
.footer-list-link:hover {
  color: white !important;
  text-decoration: none;
  background: rgba(125, 125, 125, 0.2);
  width: 90%;
}
.example-photo {
  max-width: 100%;
}
.fa-close {
  cursor: pointer;
  float: right;
}
.small-title {
  max-width: 80%;
  margin-left: 10%;
}
.more-link {
  text-decoration: none !important;
  font-weight: bold;
  color: #212121;
}
.more-link:hover {
  color: #ff5252;
}
.more-link-amber {
  text-decoration: none !important;
  font-weight: bold;
  color: #ffc107;
}
.more-link-amber:hover {
  color: #ffa000;
}
.more-link-red {
  text-decoration: none !important;
  font-weight: bold;
  color: #ff5252;
}
.more-link-red:hover {
  color: #d50000;
}
@media (max-width: 768px) {
  .main-title {
    font-size: 3rem;
  }
  .check-out {
    font-size: 1rem;
  }
  .footer-list {
    padding-left: 0;
  }
  .h4-sm {
    font-size: 1.12em;
  }
  .h5-sm {
    font-size: 0.83em;
  }
  .webResources-img {
    background-size: cover;
  }
  .graphicResources-img {
    background-size: cover;
  }
  .photo {
    max-width: 100%;
  }
}
